windows:https://subjectivetechnologies.com/datasources/transcribelocalvideo/deps/bin/windows/ffmpeg.exe
mac:https://subjectivetechnologies.com/datasources/transcribelocalvideo/deps/bin/mac/ffmpeg
linux:https://subjectivetechnologies.com/datasources/transcribelocalvideo/deps/bin/linux/ffmpeg
